<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>StalkingStocks</title>
	<link rel="stylesheet" type="text/css" href="/static/index.css">
	<script type="text/javascript" src="static/script/index.js"></script>
</head>
<body>

<video id="bgvid" autoplay muted loop>
	<source src="/static/bgvid.mp4">
</video>

<div id="fg">
	<p id="ttl"><mark>Stalking Stocks</mark></p>
	<p id="des">Your Path to Financial Freedom Starts Here<br>Are you a college student looking to make the most of your time and build a brighter financial future? Our stock teaching platform is designed just for you. With our easy-to-use resources and user guidance, you can learn the ins and outs of the stock market and start investing with confidence. Whether you're looking to build your savings or plan for long-term wealth, we'll help you get there. Sign up today and start your journey to financial success!</p>
	<div id="cls-dv">
		<button class="btn" ><a class="credentials" href="/templates/login.html">Sign up</a></button>
		<button class="btn" ><a class="credentials" href="/templates/register.html">Register</a></button>
	</div>
	<div id="aboutus">
		<h1>About us</h1>
		<p class="abt">Welcome to Stalking Stocks, your premier destination for comprehensive and insightful stock market information. We are passionate about empowering investors of all levels with the knowledge and tools they need to navigate the dynamic world of finance confidently.

			At Stalking Stocks, we understand that successful investing requires more than just luck; it demands a deep understanding of market trends, company performance, and economic indicators. That's why we are committed to delivering accurate, timely, and actionable insights to help you make informed investment decisions.</p>
	</div>

	<div id="goals">
		<h1 style="text-align: center;color: white;">Our goals</h1>
		<div class="ytr">
			Our primary goal is to empower investors by providing them with accessible and comprehensive educational resources. We aim to demystify the complexities of the stock market, equipping our users with the knowledge and skills necessary to make informed investment decisions confidently.		</div>
		<div class="ytr">
			We strive to deliver timely and actionable insights that enable our users to seize opportunities and mitigate risks effectively. Through thorough market analysis and in-depth stock research, our goal is to equip investors with the information they need to navigate the market landscape strategically.		</div>
		<div class="ytr">
			We are committed to fostering a supportive and engaging community where investors can connect, share ideas, and learn from each other. By facilitating collaboration and knowledge exchange, we aim to cultivate a vibrant community of investors who are empowered to achieve their financial goals together.		</div>
	</div>

	<div id="cnn">
		<p style="color: black;font-weight: bold;text-decoration: underline;font-size: 25px;text-align: center;">Why us ?</p>
		<div class="ctr">
			Our platform is designed with college students in mind, providing easy-to-understand resources that explain complex investing concepts in simple terms.
		</div>
		<div class="ctr">
			A.I. Guidance: We have A.I. available to provide guidance and answer any questions you may have along the way.
		</div>
		<div class="ctr">
			Investing in stocks can be an effective way to build wealth over time, and our platform provides you practise tools you need to get started and make informed investment decisions.
		</div>
		<br><br><br><br>
	</div>

	<div id="con">
		<form method="POST" action="/">
			<p style="color: white;font-size: 25px;text-align: center;text-decoration: underline;">Contact us</p>
			<input type="email" name="email" placeholder="Enter your mail">
			<textarea name="message" placeholder="Enter your feedback or message here..."></textarea>
			<button id="frm-btn">Contact</button>
		</form>
		<br>
	</div>
	<div id="ftr">
		Copyright@2023 "All rights are reserved"
	</div>
</div>


</body>
</html>