<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trading Widget</title>
</head>
<body>
    <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <!-- <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div> -->
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
    {
    "symbols": [
      {
        "proName": "FOREXCOM:SPXUSD",
        "title": "S&P 500 Index"
      },
      {
        "proName": "FOREXCOM:NSXUSD",
        "title": "US 100 Cash CFD"
      },
      {
        "proName": "FX_IDC:EURUSD",
        "title": "EUR to USD"
      },
      {
        "proName": "BITSTAMP:BTCUSD",
        "title": "Bitcoin"
      },
      {
        "proName": "BITSTAMP:ETHUSD",
        "title": "Ethereum"
      }
    ],
    "showSymbolLogo": true,
    "isTransparent": false,
    "displayMode": "adaptive",
    "colorTheme": "light",
    "locale": "in"
  }
    </script>
  </div>
  <!-- TradingView Widget END -->










  <div class="container-fluid block-content">
    <div class="text-center hgroup wow zoomInUp" data-wow-delay="0.3s">
      <button style="
          
      padding: 15px 25px;
      font-size: 25px;
      text-align: center;
      cursor: pointer;
      color: #fff;
      background-color:#3b444b;

      border-radius: 10px;
      box-shadow: 0 5px #0a0a0a;"
    
    
    >OUR SERVICES</button>
     
    </div>
    <div class="row our-services text-center">
      <div
        class="col-sm-6 col-md-4 col-lg-4 wow zoomInLeft" 
        data-wow-delay="0.3s" 
      >
        <a href="demat/index.html">
          <span><img src="icon/account.gif"  height="50px" width="50px"></span>
          <button style="
          
            padding: 15px 25px;
            font-size: 25px;
            text-align: center;
            cursor: pointer;
            color: #fdf8f8;
            background-color: #3b444b;

            border-radius: 10px;
            box-shadow: 0 5px #0a0a0a;"
          
          
          >Demat & Trading  Account</button>
          <p>
           
          </p>
        </a>
      </div>
    </div>

</body>
</html>



